@import url(./_active/header__lang-link_active.css);

.header__lang-link{
	font-family: 'Inter', "Arial", sans-serif;
	font-style: normal;
	margin-left: 18px;
	font-weight: 400;
	line-height: 1;
	font-size: 24px;
	color: #fff;
	text-decoration-line: none;
}

.header__lang-link:hover {
	opacity: 0.8;
}

@media screen and (max-width: 320px) {
	.header__lang-link{
		font-size: 18px;
	}
}
