@import url(./__item/photo-grid__item.css);

.photo-grid{
	display: grid;
	max-width: 1184px;
	min-height: 671px;
	grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
	grid-template-rows: repeat(3, 1fr);
	grid-gap: 16px;
	margin: 92px auto 12px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


@media screen and (max-width: 1280px) {
	.photo-grid{
		margin-left: 48px;
		margin-right: 48px;
	}
}

@media screen and (max-width: 768px) {
	.photo-grid{
		margin-left: 24px;
		margin-right: 24px;
	}
}

@media screen and (max-width: 650px) {
	.photo-grid{
		margin-left: 20px;
		margin-right: 20px;
	}
}

@media screen and (max-width: 320px) {
	.photo-grid{
		margin-left: 16px;
		margin-right: 16px;
	}
}