.place__image{
	width: 50%;
	height: 50%;
	align-self: flex-start;
	margin-right: 40px;
	box-sizing: border-box;
}

@media screen and (max-width:1200px) {
	.place__image{ 
		margin-right: 32px;
	}
}

@media screen and (max-width:800px) {
	.place__image{ 
		margin-right: 28px;
	}
}

@media screen and (max-width:650px) {
	.place__image{ 
		width: 100vw;
		height: 100vmin;
	}
}

