@import url(./__logo/header__logo.css);
@import url(./__lang-link/header__lang-link.css);
@import url(./__lang-links/header__lang-links.css);

.header{
	max-width: 1184px;
	margin: auto;
	display: flex;
	justify-content: space-between;
	padding-top: 28px;
}

@media screen and (max-width:1200px) {
	.header {
		max-width: 928px;
		padding-left: 60px;
		padding-right: 60px;
	}
}


@media screen and (max-width:1024px) {
	.header {
		max-width: 928px;
		padding-left: 48px;
		padding-right: 48px;
	}
}

@media screen and (max-width:768px) {
	.header {
		max-width: 720px;
		padding-left: 24px;
		padding-right: 24px;
	}
}

@media screen and (max-width:320px) {
	.header {
		max-width: 288px;
		height: 42px;
		padding-top: 16px;
		padding-left: 16px;
		padding-right: 16px;
	}
}