.footer__link {
	color: white;
	margin: 0;
	padding: 0;
	padding-right: 18px;
	text-decoration-line: none;
}

.footer__link:hover {
		opacity: 0.8;
}

@media screen and (max-width: 650px){
 	.footer__link{
 		margin-top: 32px;
 	}
 }

 