.lead__title{
	text-align: center;
	font-family: 'Inter', "Arial", sans-serif;
	font-style: normal;
	font-weight: 900;
	margin: 0 auto;
	font-size: 92px;
	line-height: 1;
	color: #fff;
	max-width: 720px;
}

@media screen and (max-width: 750px) {
	.lead__title{
		max-width: 680px;
		font-size: 85px;
		line-height: 1.1;
	}
}

@media screen and (max-width: 650px) {
	.lead__title{
		max-width: 550px;
		font-size: 65px;
		line-height: 1.1;
	}
}

@media screen and (max-width: 490px) {
	.lead__title{
		max-width: 300px;
		font-size: 41px;
	}
}

@media screen and (max-width: 320px) {
	.lead__title{
		max-width: 288px;
		font-size: 40px;
	}
}



