.footer__links {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	flex-direction: row;
}

@media screen and (max-width: 650px) {
	.footer__links{
		flex-direction: column;
		margin-left: 0;
	}
}