.place__paragraph{
	margin: 0;
	padding: 0;
	color: #fff;
	font-family: 'Inter', "Arial", sans-serif;
	font-style: normal;
	font-weight: 400;
	line-height: 1.5;
	font-size: 18px;
}
.place__paragraph:nth-child(2) {
  margin-top: 24px;
}

