.footer__copyright{
	margin: 0;
	font-family: 'Inter', "Arial", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 1;
	color:#fff;
}

@media screen and (max-width: 650px){
 	.footer__copyright{
 		margin-top: 48px;
 	}
 }