@import url(./__list/intro__list.css);
@import url(./__text/intro__text.css);
@import url(./__title/intro__title.css);
@import url(./__list-item/intro__list-item.css);

.intro{
	max-width: 984px;
	margin: auto;
	margin-top: 92px;
}

@media screen and (max-width: 1024px){
	.intro{
	margin-left: 48px;
	}
}

@media screen and (max-width: 768px){
	.intro{
	margin-left: auto;
	margin-right: auto;
	}
}


