.lead__subtitle{
	font-family: 'Inter', "Arial", sans-serif;
	font-style: normal;
	font-weight: 400;
	text-align: center;
	font-size: 30px;
	line-height: 1.3;
	color: #fff;
	margin: 32px auto 64px;
	max-width: 640px;
}


@media screen and (max-width: 1024px) {
	.lead__subtitle{
		margin-bottom: 56px;
	}
}


@media screen and (max-width: 320px) {
	.lead__subtitle{
		font-size: 16px;
		line-height: 1.25;
		margin-top: 16px;
		margin-bottom: 40px;
		max-width: 288px;
	}
}