@import url(./__link/cover__link.css);
@import url(./__subtitle/cover__subtitle.css);
@import url(./__title/cover__title.css);

.cover{
	margin: 92px auto;
	max-width: 1184px;
	width: 100%;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: center;
	overflow: hidden;
}



  @media screen and (max-width: 320px){
 	.cover{
 		margin-bottom: 32px;
 	}
 }

