.cover__title{
	text-align: center;
	font-family: 'Inter', "Arial", sans-serif;
	font-style: normal;
	font-weight: 900;
	font-size: 72px;
	line-height: 1;
	color: #fff;
	margin: 0 auto 32px;
	max-width: 560px;
}

@media screen and (max-width: 650px){
 	.cover__title{
 		font-size: 32px;
 		line-height: 1.09;
 	}
 }